@charset "UTF-8";

*{
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
    form{
        background-color: rgba(202, 198, 198, 0.795);
        width: 400px;
        height: 420px;
        margin: 89px auto;
        text-align: center;
        border: none;   
        box-shadow: 2px 2px 3px rgb(104, 102, 102);
        border-radius: 10px;
        display: flex;
        flex-flow: column wrap;
    }

    input{
        display: block;
        width: 320px;
        height: 40px;
        margin-top: -1%;
        border: none;
        border-radius: 10px;
    }

    .campo {
        display: flex;
        margin: 40px auto;
    }

    label {
        margin: 6px;
    }
}