@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Jersey 15", serif;
    font-size: 2em;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    background-color: #6f0b00;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 65vw;
    background-color: #c96823;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.555);
    box-shadow: 3px 3px 5px rgba(43, 42, 42, 0.452);
}

#img {
    background-size: cover;
    height: 270px;
    width: 64vw;
    border-radius: 10px 10px 0px 0px;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contain h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    margin-right: 150px;
}

.contain h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    margin-right: 150px;
}

.contain p {
    font-family: sans-serif;
    margin: 10px;
}

#color {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px;
}

#sale {
    width: 25vw;
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    padding: 6px;
    background-color: rgba(0, 0, 255, 0.521);
}

#sale:hover {
    background-color: rgba(0, 0, 255, 0.767);
    cursor: pointer;
}

.animation {
    background-color: blue;
    max-height: 20vh;
    width: 100vw;
}