@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle at center, lightgrey, grey);
    text-align: center;
    margin-top: 50px;
}