@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Jersey 15", serif;
    font-size: 1.5em;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header h1 {
    text-shadow: 3px 3px 3px black;
}

body {
    background-color: rgb(85, 85, 85);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    position: relative;
    max-width: 275px;
    max-height: 72vh;
    background-color: #282d2d;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(43, 42, 42, 0.452);
    overflow: hidden;
}

#img {
    background-size: cover;
    height: 220px;
    width: 275px;
    border-radius: 4px 4px 0px 0px;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contain h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.contain h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 10px;
    margin-right: 150px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.contain p {
    font-family: sans-serif;
    margin: 10px;
}

#color {
    border: none;
    border-bottom: 1px solid white;
    background-color: #282d2d;
    outline: none;
    padding: 5px;
    margin: 10px;
    color: white;
}

#color::placeholder {
    color: white;
}

#sale {
    width: 125px;
    height: 5vh;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 7px;
    border: none;
    padding: 6px;
    background-color: #f2b55a;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.808);
}

#sale:hover {
    background-color: #6f0b00;
    cursor: pointer;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.808);
    color: white;
}

