@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: "Jersey 15", serif;
    font-size: 2em;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    background-color: #6f0b00;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    max-width: 275px;
    max-height: 72vh;
    background-color: #c96823;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.555);
    box-shadow: 3px 3px 5px rgba(43, 42, 42, 0.452);
}

#img {
    background-size: cover;
    height: 220px;
    width: 271px;
    border-radius: 10px 10px 0px 0px;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contain h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.contain h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 10px;
    margin-right: 150px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.contain p {
    font-family: sans-serif;
    margin: 10px;
}

#color {
    border: none;
    border-bottom: 1px solid white;
    background-color: #c96823;
    outline: none;
    padding: 5px;
    margin: 10px;
    color: white;
}

#color::placeholder {
    color: white;
}

#sale {
    width: 25vw;
    height: 5vh;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 7px;
    border: none;
    padding: 6px;
    background-color: #ffffffd2;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.808);
}

#sale:hover {
    background-color: #6f0b00;
    cursor: pointer;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.808);
}

